spaces
torch
torchvision
accelerate
git+https://github.com/huggingface/diffusers.git
matplotlib
numpy
opencv_python
pillow
PyYAML
scipy
setuptools
scikit-image
tqdm
transformers
fvcore
cloudpickle
omegaconf
pycocotools
av
peft
huggingface_hub
python-dotenv
cloudinary
pyngrok 
validators
aiohttp
redis
psycopg2-binary
